@import "../../app.scss";

.projects {
  position: relative;

  .progress {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 50px;
    text-align: center;
    color: orange;
    font-size: 36px;
    z-index: -1;

    @include mobile {
      padding-top: calc(97vh - 100px);
      font-size: 16px;
    }

    .progressBar {
      height: 10px;
      background-color: white;
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .wrapper {
      max-width: 1366px;
      height: 100%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;

      @include mobile {
        flex-direction: column;
      }

      .imageContainer {
        flex: 1;
        height: 50%;

        @include mobile {
          width: 100%;
          max-height: 300px;
        }

        img {
          width: 100%;
          height: 100%;
          border-radius: 20px;
          object-fit: cover;

          @include mobile {
            width: 95%;
            height: 75%;
            margin-top: 5%;
            margin-left: 2%;
          }

          @include minimobile{
            width: 95%;
            height: 55%;
            margin-top: 5%;
            margin-left: 2%;
          }
        }
      }

      .divButtonsProject{
        display: flex;
        flex-direction: row;
        gap: '20px';
        align-items: 'center';
        @include mobile {
          margin-bottom: "95px";
          height: 150%;
          display: flex;
          gap: 10px;
          flex-direction: column;
          align-items: center;
        }
      }

      .buttonLink{
        @include mobile{
          width: 120px !important;
          font-size: medium !important;
        }
        @include minimobile{
          font-size: small !important;
        }
      }

      .acm{
        margin-top: -15px;
        margin-left: -25px;
        width: 40px;
        height: 40px;
        @include mobile{
          width: 32px;
          display: block;
          margin-top: -64px;
          margin-left: 110px;
        }  
        @include minimobile{
          margin-top: -58px;
        }
      }

      .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 30px;

        @include mobile {
          transform: none !important;
          align-items: center;
          text-align: center;
          margin-top: -60px;
        }

        

        h2 {
          font-size: 72px;
          line-height: 1;
          @include mobile {
            font-size: 30px;
            margin-top: -30px;
          }
          @include minimobile{
            font-size: 20px;
            margin-top: -85px;
          }
        }

        p {
          color: gray;
          font-size: 20px;

          @include mobile {
            font-size: 15px;
            margin-top: -20px;
            text-wrap: balance;
            text-align: center;
            width: 95%;
          }
          @include minimobile{
            font-size: 14px;
          }
        }

        button {
          background-color: orange;
          border: none;
          border-radius: 10px;
          font-size: large;
          padding: 10px;
          width: 200px;
          cursor: pointer;
        }
      }
    }
  }
}