

.container{
    background-color: rgb(36, 54, 68);
    height: 800px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    transition: background 0.5s ease-out 0s;
}

.container_variation{
    background-color: rgb(255,255,255);
}

.container__children{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container__h1{
    font-weight: 800;
    color: white;
    font-family: "proxima-nova","Helvetica Neue";
    text-transform: uppercase;
    font-size: 3vw;
    line-height: 0.9;
    transition: color 0.5s ease-out 0s;
    position: absolute;
    left: 40px;
}

.container__h1_variation{
    color: black;
}

.image_style{
    pointer-events: none;
    width: 700px;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 5;
    opacity: 1;
    transition: opacity 0.5s ease-out 0s;
}

.image_style_variation{
    pointer-events: none;
    width: 700px;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 5;
    opacity: 0.1;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }