@import "../../app.scss";

.spinner {
  width: 18px;
  height: 18px;
  border: 3px solid #fff;
  border-top: 3px solid orange;
  border-radius: 50%;
  margin: auto;
}

.copyright {
  text-align: center;
  padding: 1rem 0;
  font-size: 0.9rem; 
  color: #555; 
  flex-shrink: 0;
  @include mobile {
    font-size: 10px;
  }
}

.contact2{
  height: 100%;
  max-width: 100%;   
  display: flex;
  flex-direction: column;
}
.contact {
  margin: auto auto 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;

  @include mobile {
    width: 100%;
    padding: 10px;
    flex-direction: column;
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 185%;

    @include mobile {
      gap: 20px;
      text-align: center;
      align-items: center;
      margin-top: 20px;
    }
    @include minimobile{
      gap: 10px;
      text-align: center;
      align-items: center;
      margin-top: 50px;
      font-size: small;
    }

    h1 {
      font-size: 100px;
      line-height: 88px;

      @include mobile {
        font-size: 36px;
        line-height: 50px;
      }
    }

    span {
      font-weight: 300;
    }
  }

  .formContainer {
    position: relative;
    width: 100%;
    
    @include mobile {
      padding: 50px 50px 0px 50px;
      width: 100%;
    }
    @include minimobile{
      padding: 0px 10px 0px 10px;
    }


    .phoneSvg {
      stroke: orange;
      position: absolute;
      margin: auto;
      z-index: -1;
      @include mobile {
        top: 58%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      @include minimobile{

        top: 58%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .svg {
      width:"650px";
      height:"500px";
      @include mobile {
        width:"500px";
        height:"350px";
      }
      @include minimobile{
        width:"500px";
        height:"350px";
      }
    }

    form {
      display: flex;
      flex-direction: column;

      input,
      textarea {
        margin-top: 20px;
        padding: 20px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        border-radius: 5px;

        @include mobile {
          padding: 10px;
        }
        @include minimobile{
          line-height: 24px;
        }
      }

      button {
        margin-top: 20px;
        padding: 20px;
        border: none;
        background-color: orange;
        cursor: pointer;
        font-weight: 500;
        @include mobile {
          padding: 10px;
        }
      }
    }
  }
}