html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
  }
  
  * {
    padding: 0;
    margin: 0;
    --error-color: red;
    --enable-color: green;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
  }
  
  body {
    background-color: rgb(28, 45, 56); //Color old-> #0c0c1d;  Color new -> rgb(28, 45, 56) 
    color: lightgray;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  section {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: center;
    overflow: hidden;
  }
  
  @mixin minimobile {
    @media (max-width: 375px) and (max-height: 799px) {
      @content;
    }
  }
  @mixin mobile {
    @media (max-width: 738px) and (max-height: 1024px) {
      @content;
    }
  }
  @mixin tablet {
    @media (max-width: 1024px) {
      @content;
    }
  }
  @mixin desktop {
    @media (max-width: 1366px) {
      @content;
    }
  }